.main{
  display: flex; 
  width: 100vw; 
  height: calc(100vh - 150px);
  margin:100px 0 50px 0;
  /* background-color: lightpink;  */
}

.side-bar{
  /* background-color: lightblue;  */
  width: 250px; 
  height: calc(100vh - 150px);
  border-right: solid 2px lightgray;
}

.main-chat{
  background-color: #fafad2; 
  width: calc(100vw - 250px);
  padding: 10px; 
}

.comments{
  background-color: white; 
  height: calc(100vh - 300px ); 
  overflow: auto; 
}

.comment{
  display: flex; 
}

.comment-form{
  background-color: lightgreen; 
  margin-top: 10px; 
  height: 100px; 
}

.form-character-text{
  display: flex; 
}