.editroom-main{
  width: calc(100vw - 250px); 
  height: calc(100vh - 150px);
  /* margin:100px 0 50px 0; */
  display: flex;
  /* background-color: lightpink;  */
  overflow: scroll;
}

.editroom-form{
  /* background-color: lightblue; */
  margin: auto; 
  width: 650px; 
  height: 400px;
  display: flex; 
  flex-direction: column;
}

.edit-rooms{
  /* background-color: lightyellow;  */
  width: 650px; 
  height: 150px; 
}

.editroom-name{
  /* background-color: lightgreen; */
  height: 50px; 
  width: 650px; 
  font-size: 40px;
  text-align: center;
  margin-top: 20px; 
}

.editroom-text{
  /* background-color: lightgreen; */
  height: 50px; 
  width: 650px; 
  font-size: 30px;
  font-family: sans-serif;
  color: gray;
  text-align: center;
  margin-top: 20px; 
}

.edit-btn-contents{
  /* background-color: lightyellow; */
  width: 650px; 
  height: 130px; 
  margin: 20px auto; 
  display: flex; 
  flex-direction: column;
}

.edit-btn{
  /* background-color: lightgreen; */
  height: 40px; 
  font-size: 20px;
}

