<%= render "shared/header" %>

<div class = "top-main">

  <% if user_signed_in?%>

    <div class='room-contents'>
      <div class='room-index'>
        Rooms
      </div>
      <ul class='room-lists'>
          <% @room.each do |room|%>
            <li class='room-list'>
              <%= link_to room.name, room_comments_path(room.id), class:"room-name" %> 
            </li>
          <% end %>
      </ul>
    </div>

    <div class = "new-room">
      <div class = "newroom-link">
        <%= link_to "Room新規作成", new_room_path, class: 'newroom-btn' %>
      </div>
    </div>

  <% end %>

</div>
<%= render "shared/footer" %>

